:root{
	/* primary colors */
	--Strong-Cyan: hsl(171, 66%, 44%);
	---Dark-Strong-Cyan: hsl(171, 66%, 34%);
	--Light-Blue: hsl(233, 100%, 69%);
	--Strong-Cyan-Active: hsl(171, 66%, 54%);
	--Light-Blue-Active: hsl(233, 100%, 79%);
	/* neutral colors */
	--Dark-Grayish-Blue: hsl(210, 10%, 33%);
	--Grayish-Blue: hsl(201, 11%, 66%);
	
	/* Typography */
	--Font-size: 18px;
	--font-bai: 'Bai Jamjuree';
}

html,
body {
	margin: 0;
	height: 100%;
}

body {
	font-family: var(--font-bai);
	background-image: url('./assets/images/bg-header-mobile.png');
	background-repeat: no-repeat;
	background-position: top;
	background-size: cover;
	
	height: 100%;
}

img {
	width: 100%;
	height: 100%;
}

h1, h2, h4 {
	    margin-bottom: 15px;
	color: var(--Dark-Grayish-Blue);
}

p {
	color: var(--Grayish-Blue);
	font-size: 14px;
	line-height: 22px;
}

/* download options */
.content-container {
	padding: 25px 30px;
	display: flex;
	flex-direction: column;
	align-items: center;
	text-align: center;
}

section#download .content-container #logo-div {
	margin-top: 60px;
    margin-bottom: 30px;
}

.buttons {
	padding: 15px 75px;
    color: white;
	font-family: var(--font-bai);
    font-size: 16px;
    border-radius: 30px;
	margin-bottom: 25px;
	font-family: var(--font-bai);
	cursor: pointer;
	border-style: none;
}

.ios-Button {
	margin-top: 35px;
	background-color: var(--Strong-Cyan);
	border-bottom: 2px solid var(---Dark-Strong-Cyan);
	box-shadow: 0px 2px 13px var(--Strong-Cyan);
}

.mac-Button {
	background-color: var(--Light-Blue);
	border-bottom: 2px solid var(--Dark-Grayish-Blue);
	box-shadow: 0px 2px 13px var(--Light-Blue);
}

/*active download buttons */
.ios-Button:hover,
.ios-Button:active {
	background-color: var(--Strong-Cyan-Active);
}

.mac-Button:hover,
.mac-Button:active {
	background-color: var(--Light-Blue-Active);
}

/* qualities */
section#qualities #quality-container {
	padding-left: 25px;
    padding-right: 25px;
	padding-bottom: 80px;
	display: flex;
	flex-direction: column;
	align-items: center;
	text-align: center;
}

section#qualities #quality-container #computer-container {
	padding-top: 15px;
    padding-bottom: 15px;
}

section#qualities #quality-container .qualities {
	padding-top: 15px;
	padding-bottom: 10px;
	width: 85%;
    margin: auto;
}

section#qualities #quality-container .qualities #cloud-text {
	width: 85%;
}

section#access-anywhere .content-container,
section#access-anywhere #access-icon-container {
	padding-left: 10px;
	padding-right: 10px;
	width: 95%;
    margin: auto;
}

section#access-anywhere .content-container p,
section#workflow .content-container p {
    width: 80%;
}

section#workflow #workflow-container {
	padding-left: 25px;
	padding-right: 25px;
	padding-bottom: 30px;
}

section#workflow #workflow-container #flex-workflow {
	display: flex;
	flex-direction: column;
	align-items: center;
}

section#workflow #workflow-container #flex-workflow .qualities {
	display: flex;
	flex-direction: column;
	align-items: center;
	text-align: center;
	padding-top: 30px;
    padding-bottom: 30px;
	width: 85%;
    margin: auto;
}

section#workflow #workflow-container #flex-workflow .qualities #blacklist-icon {
	width: 36px;
}

section#workflow #workflow-container #flex-workflow .qualities p {
    font-size: 14px;
}

section#clients #clients-container {
	padding-left: 25px;
	padding-right: 25px;
	margin-bottom: 50px;
}

section#clients #clients-container #flex-client {
	display: flex;
	flex-direction: column;
	align-items: center;
}

section#clients #clients-container #flex-client .client-icon {
	width: 110px;
	padding-top: 20px;
    padding-bottom: 20px;
}

section#clients #clients-container #flex-client #ibm-icon,
section#clients #clients-container #flex-client #hp-icon,
section#clients #clients-container #flex-client #vector-graphics-icon {
	width: 90px;
}

section#clipboard .content-container h2 {
	font-size: 25px;
}

section#clipboard .content-container p {
    width: 89%;
	line-height: 25px;
}

footer {
	background-color: hsl(0, 0%, 95%);
}

footer #footer-container {
	display: flex;
	flex-direction: column;
	align-items: center;
}

footer #footer-container #footer-logo {
	width: 50px;
    margin: auto;
    padding-top: 50px;
    padding-bottom: 25px;
}

footer #footer-container .footer-links {
	display: flex;
	flex-direction: column;
	align-items: center;
}

footer #footer-container .footer-links a {
	text-decoration: none;
	color: var(--Dark-Grayish-Blue);
	padding-top: 15px;
    padding-bottom: 15px;
    font-weight: 400;
	font-size: 16px;
}

footer #footer-container .footer-links a:hover {
	color: var(--Strong-Cyan-Active);
}

footer #footer-container .flex-footer-links #social-media {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	width: 125px;
	padding-top: 25px;
    padding-bottom: 25px;
}

footer #footer-container .flex-footer-links #social-media a {
	color: var(--Dark-Grayish-Blue);
	cursor: pointer;
}

footer #footer-container .flex-footer-links #social-media a:hover {
	color: var(--Strong-Cyan-Active);
}

/* big smart phone */
@media screen and (min-width: 540px) {
	section#download .content-container p {
		    max-width: 500px;
	}
	.content-container {
		max-width: 605px;
		margin: auto;
	}
	
	section#qualities #quality-container #computer-container {
		width: 500px;
	}	
	
	section#access-anywhere .content-container {
		max-width: none;
	}
}

@media screen and (min-width: 565px) {
	section#access-anywhere .content-container p {
		max-width: 535px;
	}
}

/*tablet screen */
@media screen and (min-width: 768px) {
	section#access-anywhere #access-icon-container {
		max-width: 700px;
	}
}

@media screen and (min-width: 860px) {
	p {
		line-height: 25px;
	}
	
	.buttons {
		margin: 0;
		padding-left: 30px;
		padding-right: 30px;
	}
	
	section#workflow #workflow-container {
		max-width: 870px;
		margin: auto;
	}
	
	section#workflow #workflow-container #flex-workflow {
		flex-direction: row;
		justify-content: space-between;
		align-items: flex-start;
	}
	
	section#workflow #workflow-container #flex-workflow .qualities{
		height: 175px;		
	}	
	
	section#workflow #workflow-container #flex-workflow .qualities p {
		margin: 0;
	}
	
	section#clients #clients-container {
		max-width: 840px;
		margin: 40px auto;
	}
	section#clients #clients-container #flex-client {
		flex-direction: row;
		justify-content: space-between;
	}
}

@media screen and (min-width: 1100px) {
	body {
		font-family: var(--font-bai);
		background-image: url('./assets/images/bg-header-desktop.png');
		background-repeat: no-repeat;
		background-position: top;
		background-size: cover;
	}
	
	section#download .content-container #button-container {
		display: flex;
		justify-content: space-between;
		width: 400px;
		margin-top: 35px;
	}	
	
	section#clipboard .content-container #button-container {
		display: flex;
		justify-content: space-between;
		width: 400px;
		margin-top: 35px;
	}
	
	section#qualities #quality-container {
		flex-direction: row;
		
	}
	
	section#qualities #quality-container #computer-container {
		width: 715px;
		height: 480px;
		position: relative;
		    top: 30px;
	}
	section#qualities #quality-container .flex-column {
		flex-direction: column;
		text-align: left;
		position: relative;
		width: 342px;
		left: 60px;
	}	
	
	footer #footer-container {
		max-width: 875px;
		align-items: unset;
		margin: auto;
		padding-top: 30px;
	}
	
	footer #footer-container #footer-logo {
		width: 50px;
		padding-top: 15px;
	}

	footer #footer-container #flex-footer {
		display: flex;
		flex-direction: row;
		justify-content: space-between;
	}
	footer #footer-container .flex-footer-links {
		display: flex;
		flex-direction: row;
		justify-content: space-between;
		   
	}
	
	footer #footer-container #flex-footer #footer-links {
		 width: 415px;
	}
	footer #footer-container .footer-links {
		align-items: unset;
		text-align: left;
	}
	
	footer #footer-container .footer-links a {
		padding-top: 10px;
		padding-bottom: 10px;
	}
	
	footer #footer-container .flex-footer-links #social-media {
		padding-top: 10px;
		margin-left: auto;
	}
}